body{
    background: black;
}

h1{
    color:#e55743;
    justify-content: center;
    display: flex;
}

.flex-container{
    display: flex;
    justify-content: center;
}

.container-respostas{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

.container-respostas span{
    color: white;
}


.flex-container-btn{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}

span{
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #e55743;
    width: 40px;
    margin: 5px;
    padding-bottom: 18px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

button{
    margin: 5px;
    width: 35px;
    padding: 10px 0;
    background-color: #e55743;
    border-radius: 2px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    color: white;
}

button:hover{
    background: #ff7968;
}