* {
    margin: 0;
    padding: 0;
    /* text-decoration: none; */
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: black;
    color: white;
    display: flex;
    min-height: 100vh;
}

main{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1{
    color: #e55743;
    font-weight: bold;
    font-size: -webkit-xxx-large;
}

main .form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .form label{
    display: flex;
    flex-direction: column;
}

main .form label span{
    font-size: 20px;
    margin-top: 10%;
}

main .form input, button{
    background-color: #161923;
    width: 300px;
    height: 50px;
    padding: 0 10px;
    margin-top: 3%;
    outline: none;
    color: white;
    font-size: 15px;
    border: 1px solid #e55743;
    border-radius: 8px;
}

main .form p{
    padding-top: 5%;
}

main .form a{
    color: #e55743;
   /* text-decoration-line: line-through; */
}

main .form button {
    cursor: pointer;
    width: 50%;
    margin-top: 20%;
    border: none;
    border-radius: 32px;
    background-color: #e55743;
    font-size: 16px;
}

main .form button:hover{
    background-color: #b14334;
}

section.images{
    display: flex;
    align-items: flex-end;
}

section img{
    width: 60%;
    margin-left: 35%;
}

section .circle{
    position: absolute;
    height: 100%;
    width: 100%;
    /* background: linear-gradient(45deg,#e55743, #b14334); */
    top: 0;
    left: 0;
    clip-path: circle(40% at right 80%);
    z-index: -1;
    background-image: url(../assets/img2/loginwpp.png);
}